# version 3
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=#APPNAME#
GenericName=#APPNAME#
Exec=#INSTALLPATH#/bin/bdj4#PROFILE#
Icon=bdj4_icon
Path=#WORKDIR#
Terminal=false
Type=Application
Categories=Audio;Player
StartupWMClass=bdj4starterui
Comment=Ballroom Music Player
Comment[af]=Ballroom Musiekspeler
Comment[cs]=Přehrávač taneční hudby
Comment[da]=Ballroom musikafspiller
Comment[de]=Ballroom Music Player
Comment[es]=Reproductor de música de salón
Comment[fi]=Ballroom Musiikkisoitin
Comment[fr]=Lecteur de musique de bal
Comment[hu]=Bálterem zenei lejátszó
Comment[it]=Lettore di musica da sala da ballo
Comment[ja]=社交音楽の再生
Comment[ko]=볼룸 음악 플레이어
Comment[nb_NO]=Ballroom musikkspiller
Comment[nl]=Ballroom muziekspeler
Comment[no]=Ballroom musikkspiller
Comment[pl]=Odtwarzacz muzyki z sali balowej
Comment[pt]=Leitor de música de salão
Comment[ro]=Ballroom Music Player
Comment[ru]=Плеер бальной музыки
Comment[sr_RS]=Баллроом Мусиц Плаиер
Comment[sv]=Ballroom musikspelare
Comment[uk]=Програвач бальної музики
Comment[vi]=Máy nghe nhạc khiêu vũ
Comment[zh_CN]=舞厅音乐播放器
Comment[zh_TW]=舞廳音樂播放器
Keywords=Player;Audio
