/* 2024-11-8 */
/* version 7 */
/*
 * Copyright 2023-2024 Brad Lanam Pleasant Hill CA
 */

/* note that these may affect dialogs started by the application */

menu {
  background-color: shade(@theme_base_color,0.7);
}
scale, scale trough {
  min-height: 5px;
}
separator {
  min-height: 4px;
}
scrollbar, scrollbar slider {
  min-width: 9px;
}
tooltip {
  background-color: shade(@theme_base_color,0.7);
}

/* for some reason, if the selection background color alone is set, the */
/* text color temporarily becomes white on light colored themes */
/* the text color must be set also */
/* these changes are for read-only spinboxes */
spinbutton.bdj-sb-readonly {
  caret-color: @theme_base_color;
}
spinbutton.bdj-sb-readonly selection {
  background-color: @theme_base_color;
  color: @theme_text_color;
}

/* progress bars */
progressbar {
  background-image: none;
}
progressbar > trough {
  border-width: 0px;
  min-height: 25px;
}
progressbar > trough progress {
  border-width: 0px;
  min-height: 25px;
}

.bdj-dark-bg {
  background-color: shade(@theme_base_color,0.85);
}
/* used by drop-downs */
.bdj-norm-bg {
  background-color: @theme_base_color;
  margin-right: 4pt;
}
label.bdj-selected {
  color: @theme_selected_fg_color;
}
label.bdj-nodisp {
  color: rgba(0,0,0,0);
}

textview.bdj-dark-bg text {
  background-color: shade(@theme_base_color,0.7);
}

/* gtk: notebook header tabs tab label */
/* make the selected notebook tab darker */
notebook tab:checked {
  background-color: shade(@theme_base_color,0.6);
}
/* these buttons are flat, should inherit the underlying background color */
button.bdj-leftnotebook {
  border: 0px solid;
  background-color: rgba(0,0,0,0);
}
button.bdj-leftnotebook label {
  color: @insensitive_fg_color;
}
button.bdj-notebook-sel {
  background-color: shade(@theme_base_color,0.6);
}
button.bdj-notebook-sel label {
  color: @theme_fg_color;
}
button.bdj-leftnotebook:hover {
  background-color: shade(@theme_base_color,0.5);
}
button.bdj-leftnotebook:hover label {
  color: @theme_fg_color;
}
button.bdj-notebook-sel-ltr {
  border-right: 3px solid;
  border-color: @selected_bg_color;
}
button.bdj-notebook-sel-rtl {
  border-left: 3px solid;
  border-color: @selected_bg_color;
}


/* gtk: notebook scrolling arrows.  make the disabled arrow disappear */
notebook > header > tabs > arrow {
  color: shade(@theme_text_color,1.0);
  background-color: shade(@theme_base_color,0.6);
}
notebook > header > tabs > arrow:disabled {
  color: shade(@theme_base_color,1.0);
  background-color: shade(@theme_base_color,1.0);
}

scrolledwindow undershoot.top, scrolledwindow undershoot.right,
scrolledwindow undershoot.left, scrolledwindow undershoot.bottom {
  background-image: none;
  outline-width: 0px;
}

button.bdj-spd-reset {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1px;
  padding-right: 1px;
  border-color: black;
}

button.bdj-switch {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: shade(@theme_base_color,0.8);
  border-color: shade(@theme_base_color,0.8);
  background-image: none;
}
button.bdj-switch:checked {
  background-color: shade(@theme_base_color,0.8);
}
button.bdj-switch:hover {
  background-color: shade(@theme_base_color,0.7);
}

button.bdj-flatbutton {
  outline-width: 0px;
  padding: 0px;
  border-color: @theme_bg_color;
  background-color: @theme_bg_color;
}
button.bdj-flatbutton widget {
  outline-width: 0px;
}

label.bdj-chgindnormal {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: transparent;
}
label.bdj-chgindchanged {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #11ff11;
}
label.bdj-chginderror {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #ff1111;
}

entry {
  color: @theme_fg_color;
}
