/* 2026-2-21 */
/* version 10 */
/*
 * Copyright 2023-2026 Brad Lanam Pleasant Hill CA
 */

/* note that these may affect dialogs started by the application */

scale, scale trough {
  min-height: 5px;
}
separator {
  min-height: 4px;
}
scrollbar, scrollbar slider {
  min-width: 9px;
}

menu separator {
  margin-right: 12px;
  margin-left: 8px;
}

textview.bdj-dark-bg text {
  background-color: mix(@theme_base_color,#000000,0.2);
}

/* for some reason, if the selection background color alone is set, the */
/* text color temporarily becomes white on light colored themes */
/* the text color must be set also */
/* these changes are for read-only spinboxes */
spinbutton.bdj-sb-readonly {
  caret-color: @theme_base_color;
}
spinbutton.bdj-sb-readonly selection {
  background-color: @theme_base_color;
  color: @theme_text_color;
}

/* progress bars */
progressbar {
  background-image: none;
}
progressbar > trough {
  border-width: 0px;
  min-height: 25px;
}
progressbar > trough progress {
  border-width: 0px;
  min-height: 25px;
}

/* used by drop-downs */
.bdj-norm-bg {
  background-color: @theme_base_color;
  margin-right: 4pt;
}
/*
label.bdj-selected {
  color: @theme_selected_fg_color;
}
*/
label.bdj-nodisp {
  color: rgba(0,0,0,0);
}

/* these buttons are flat, should inherit the underlying background color */
button.bdj-leftnotebook {
  outline-width: 0px;
  border: 0px solid;
  border-radius: 0px;
  background-image: none;
  background-color: rgba(0,0,0,0);
}
label.bdj-leftnotebook {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: transparent;
}
label.bdj-notebook-sel {
  border-left-color: @theme_selected_bg_color;
}
button.bdj-notebook-sel label {
  color: @theme_fg_color;
}
button.bdj-leftnotebook:hover label {
  color: @theme_fg_color;
}

scrolledwindow undershoot.top, scrolledwindow undershoot.right,
scrolledwindow undershoot.left, scrolledwindow undershoot.bottom {
  background-image: none;
  outline-width: 0px;
}

button.bdj-spd-reset {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1px;
  padding-right: 1px;
  border-color: black;
}

button.bdj-flatbutton {
  outline-width: 0px;
  padding: 0px;
  border-color: @theme_bg_color;
  background-color: @theme_bg_color;
}
button.bdj-flatbutton widget {
  outline-width: 0px;
}

label.bdj-chgindnormal {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: transparent;
}
label.bdj-chgindchanged {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #11ff11;
}
label.bdj-chginderror {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #ff1111;
}

entry {
  color: @theme_fg_color;
}

button.bdj-switch {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-image: none;
  background-color: @theme_base_color;
}
button.bdj-switch:checked {
  background-color: @theme_base_color;
}
button.bdj-switch:focus {
  border-color: @theme_selected_bg_color;
}

entry:disabled.bdj-selected {
  background-color: @insensitive_bg_color;
  color: @insensitive_fg_color;
}
