/* #d21228 */
body {
  background-color: #660c16;
  margin: 0px;
  padding: 0px;
}

form {
  margin: 0;
  padding: 0;
  display: inline;
  clear: none;
}

img {
  border: 0;
}

div {
  text-align: center;
  margin: 0px;
  overflow: hidden;
}

p {
  margin-top: 10px;
  margin-bottom: 2px;
}

.menuwidget {
  position: absolute;
  top: 20px;
  left: 15px;
}

.donatewidget {
  position: absolute;
  top: 20px;
  right: 15px;
}

.mdiv {
  margin: 10px;
  padding: 10px;
  background-color: #dddddd;
}

.divmenu {
  background-color: rgba(30,30,30,0.9);
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 5%;
}

.dflex {
  display: flex;
}

.dlang {
  width: auto;
  background: #cccccc;
  padding-right: 20px;
}

.dtext {
  flex: 1;
}

.dinlineblock {
  display: inline-block;
}

.dispnone {
  display: none;
}

.dispblock {
  display: block;
}

.dbgwhite {
  margin: 10px;
  background-color: #dddddd;
}

.fleft {
  float: left;
  display: block;
  clear: none;
}

.tleft {
  text-align: left;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}
ul.menu li {
  color: #ffa600;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

/*
div {
  background-color: white;
  overflow: hidden;
}
p.large {
  font-size: 18px;
}
p.bold {
  font-weight: normal;
}
p.big {
  font-size: 20px;
}
p.mp {
  margin-top: 6px;
}
ul.rlist {
  margin-top: 2px;
  margin-bottom: 2px;
}
.dtop {
  height: 140px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.dtopl {
  margin-top: 5px;
}
.dtopr {
  margin-right: 10px;
}
.dtoptext {
  margin-top: 30px;
}
.dautowid {
  width: auto;
}
.fright {
  float: right;
  display: block;
  clear: none;
}
.dinline {
  display: inline;
}
.dcolor {
  background-color: #660c16;
}
.dmcolor {
  border-top: solid #660c16 2px;
  padding-top: 3px;
}
.dmcolorb {
  border-top: solid black 1px;
  color: #660c16;
  font-weight: normal;
  padding-top: 3px;
}
.cdiv {
  margin-left: 0px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: auto;
}
.sdiv {
  margin: 3px;
}
#dropdown {
  width: 200px;
  height: 24px;
  border: 2px inset #ccc;
  overflow: hidden;
  float: right;
  position: absolute;
  left: 0px;
  top: 0px;
}
#dropdown a.menuselected {
  display: inherit;
}
#dropdown: a.menu {
  display: none;
}
#dropdown a {
  text-align:left;
  display: none;
  padding-left: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0;
  white-space: nowrap;
  text-decoration: none;
  background-color: #fff;
  color: #000;
}
#dropdown:hover {
  height: 72px;
  overflow-y: scroll;
}
#dropdown:hover a.menuselected {
  display: none;
}
#dropdown:hover a.menu {
  display: inherit;
}
*/
